language: go
go:
- 1.11.x
- 1.12.x
- master
matrix:
  allow_failures:
    - go: master

before_install:
- go get github.com/axw/gocov/gocov
- go get github.com/mattn/goveralls
- go get golang.org/x/tools/cmd/cover

install:
- GO111MODULE=on go install ./cmd/inmap
script:
- export INMAP_ROOT_DIR=${PWD}
- GO111MODULE=on go test -short ./...
- bash ./.travis/test_coverage.sh

env:
  global:
    - COVERALLS_TOKEN=rK3QSbCh7y0Tdfu4K0arUQSJqHJCl4ebP
