language: go
go:
- 1.13.x
- 1.14.x
- 1.15.x
- master
matrix:
  allow_failures:
    - go: master

before_install:
- go get github.com/mattn/goveralls
- go get github.com/go-playground/overalls

install:
- go install ./cmd/inmap
script:
- export INMAP_ROOT_DIR=${PWD}
- overalls -project=github.com/spatialmodel/inmap -covermode=count -- -short
- echo $COVERALLS_TOKEN
- goveralls -coverprofile=overalls.coverprofile -service=travis-ci -repotoken $COVERALLS_TOKEN

env:
  global:
    - COVERALLS_TOKEN=rK3QSbCh7y0Tdfu4K0arUQSJqHJCl4ebP
